<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AyC Pedidos</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="/pedidosABM.css" rel="stylesheet">
</head>

<body>
    <div class="main">
        <div class="navbar__container">
            <div class="navbar">
                <a href="/inicio">INICIO</a>
                <a href="/pedidosABM">PEDIDOS ABM</a>
                <a href="/usuariosABM">USUARIOS ABM</a>
                <a href="/logout">SALIR</a>
            </div>
        </div>
        <div class="container">
            <div class="title-container title">
                <h1>PEDIDOS ABM</h1>
            </div>
            <h5 th:if="${error !=null}" th:text="" style="color: red;"></h5>
            <!-- FORMULARIO -->
            <div class="form-container">
                <h3 class="title">CARGAR NUEVO PEDIDO</h3>
                <form id="nuevo-pedido" action="/registrarPedido" method="POST" enctype="multipart/form-data">
                    <div class="client-name flex">
                        <label for="client-name">Nombre del Cliente</label>
                        <input type="text" id="client-name" name="nombreCliente" placeholder="Ingrese el nombre del cliente" required>
                    </div>
                    <h3 class="agenda-section title">Interior</h3>
                    <div class="select flex">
                        <label for="codigoInterior">Codigo Interior</label>
                        <input list="lista" name="codigoInterior" id="codigoInterior" placeholder="Ingresar codigo de interior" required>
                        <datalist id="lista" style="display: none;">
                            <div th:each="codigo : ${codigosInterior}">
                                <div>
                                    <option th:text="${codigo}" th.value="${codigo}">
                                    </option>
                                </div>
                            </div>
                        </datalist>
                    </div>
                    <!-- TAPA -->
                    <h3 class="agenda-seccion title">Tapa</h3>
                    <div class="select flex">
                        <label for="tapa-fondo">Codigo de Fondo</label>
                        <input type="text" id="tapa-fondo" name="codigoFondoTapa" placeholder="Ingresar codigo de fondo" required>
                    </div>
                    <div class="tapa-personal flex">
                        <label for="tapa__personal">Tapa Personalizada</label>
                        <!--Fondo Custom Tapa-->
                        <input type="file" id="tapa-personal" name="customFondoTapa">
                    </div>
                    <div class="select flex">
                        <label for="tapa-frase">Codigo de Frase</label>
                        <input type="text" id="tapa-frase" name="codigoFraseTapa" placeholder="Ingresar codigo de frase" required>
                    </div>
                    <div class="tapa-frase__personal flex">
                        <label for="tapa-frase__personal">Frase Personalizada</label>
                        <input type="text" id="tapa-frase__personal" name="customFraseTapa" placeholder="Agregar frase personalizada">
                    </div>
                    <!-- TAPA -->
                    <h3 class="agenda-seccion title">Contratapa</h3>
                    <div class="select flex">
                        <label for="contratapa-fondo">Codigo de Fondo</label>
                        <input type="text" id="contratapa-fondo" name="codigoFondoContratapa" placeholder="Ingresar codigo de fondo" required>
                    </div>
                    <div class="contratapa__personal flex">
                        <label for="contratapa__personal">Contratapa Personalizada</label>
                        <!--Fondo Custom Contratapa-->
                        <input type="file" id="contratapa__personal" name="customFondoContratapa">
                    </div>
                    <div class="select flex">
                        <label for="contratapa-frase">Codigo de Frase</label>
                        <input type="text" id="contratapa-frase" name="codigoFraseContratapa" placeholder="Ingresar codigo de frase" required>
                    </div>
                    <div class="contratapa-frase__personal flex">
                        <label for="contratapa-frase__personal">Frase Personalizada</label>
                        <input type="text" id="contratapa-frase__personal" name="customFraseContratapa" placeholder="Agregar frase">
                    </div>
                    <div class="quatity flex">
                        <h3 class="agenda-seccion title">Cantidad</h3>
                        <label for="cantidad">Cantidad de Agendas</label>
                        <input type="number" id="cantidad" name="cantidad" placeholder="Elegir cantidad de agendas" required>
                    </div>
                    <div class="textarea flex">
                        <h3 class="agenda-seccion title">Descripcion</h3>
                        <textarea class="descripcion" name="descripcion" placeholder="Agregar una descripcion aqui..."></textarea>
                    </div>
                    <div class="agenda-seccion flex">
                        <h5 class="title">Asignar Vendedor</h5>
                        <select name="vendedorId">
                            <option th:each="usuario : ${usuarios}" th:value="${usuario.id}"
                                th:if="${usuario.rol == T(com.okta.aycPedidos.enums.Rol).VENDEDOR}">
                                <div>
                                    <span>Nombre:</span>
                                    <span th:text="${usuario.username}"></span>
                                </div>
                            </option>
                        </select>
                    </div>
                    <div class="agenda-seccion flex">
                        <h5 class="title">Asignar Diseñador</h5>
                        <select name="disenadorId">
                            <option th:each="usuario : ${usuarios}" th:value="${usuario.id}"
                                th:if="${usuario.rol == T(com.okta.aycPedidos.enums.Rol).DISENADOR}">
                                <div>
                                    <span>Nombre:</span>
                                    <span th:text="${usuario.username}"></span>
                                </div>
                            </option>
                        </select>
                    </div>
                    <div class="btn-container">
                        <button class="submit-btn" type="submit" id="submit">Enviar Pedido</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="lista-pedidos">
            <hr>
            <h3>Listar Pedidos</h3>
            <div th:each="pedido : ${pedidos}">
                <hr>
                <p><a th:href="@{/pedidoInfo/{pedidoId}(pedidoId=${pedido.id})}">Id: <span
                            th:text="${pedido.id}"></span></a><br></p>
                <p>Nombre Cliente: <span th:text="${pedido.nombreCliente}"></span><br></p>
                <p>Fecha: <span th:text="${pedido.fechaAlta}"></span><br></p>
                <form action="/hardDeletePedido" method="POST">
                    <input type="hidden" name="pedidoId" th:value="${pedido.id}">
                    <button type="submit">Eliminar</button>
                </form>
                <hr>
            </div>
        </div>
</body>

</html>