<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments :: head_principal"></div>
</head>

<body>
    <div class="main">

        <div th:replace="fragments :: navbar_admin"></div>

        <h1>PEDIDO INFO</h1>
        <hr>

        <div class="order-container">
            <div class="label">
                # Pedido:
                <span class="returned-value" th:text="${pedido.id}"></span>
            </div>
            <div class="label">
                Vendedor:
                <span class="returned-value" th:text="${pedido.vendedor.username}"></span>
            </div>
            <div class="label">
                Diseñador:
                <span class="returned-value" th:text="${pedido.disenador.username}"></span>
            </div>
            <div class="label">
                Cantidad:
                <span class="returned-value" th:text="${pedido.cantidad}"></span>
            </div>
            <div class="label">
                Fecha:
                <span class="returned-value" th:text="${pedido.fechaAlta}"></span>
            </div>
            <div class="label">
                Nombre Cliente:
                <span class="returned-value" th:text="${pedido.nombreCliente}"></span>
            </div>
            <div class="label">
                Codigo Interior:
                <span class="returned-value" th:text="${pedido.agenda.codigoInterior.toString()}"></span>
            </div>
            <div class="label">
                Tapa:
                <br>
                <div th:each="tapaImagen : ${tapaImagenes}">
                    <img class="returned-image" style="width: 250px; height: 250px; object-fit: scale-down;" th:src="@{'data:/'+${tapaImagen.mime}+';base64,'+${tapaImagen.getImgData()}}">
                    <a href="#">Descargar Imagen</a>
                </div>
                <br>
            </div>
            <div class="label">
                Contratapa:
                <br>
                <div th:each="contratapaImagen : ${contratapaImagenes}">
                    <img class="returned-image" style="width: 250px; height: 250px; object-fit: scale-down;" th:src="@{'data:/'+${contratapaImagen.mime}+';base64,'+${contratapaImagen.getImgData()}}">
                    <a href="#">Descargar Imagen</a>
                </div>
                <br>
            </div>
            <div class="label">
                Descripcion:
                <span class="returned-value" th:text="${descripcion.contenido}"></span>
            </div>
            <hr>
            <p class="label">Comunicaciones:</p>
            <div th:each="comentario : ${comentarios}" class="dialog">
                <p><span style="font-weight: bold;" th:text="${comentario.autor.username}"></span> - <span th:text="${comentario.fechaAlta}"></span></p>
                <p><span th:text="${comentario.contenido}"></span></p>
                <form th:if="${usuario.id} == ${comentario.autor.id} OR ${usuario.rol == T(com.okta.aycPedidos.enums.Rol).ADMIN}" action="/hardDeleteComentario" method="POST">
                    <input type="hidden" name="comentarioId" th:value="${comentario.id}">
                    <input type="hidden" name="pedidoId" th:value="${pedido.id}">
                    <button type="submit">Eliminar</button>
                </form>
                <hr>
            </div>
            <div>
                <form action="/registrarComentario" method="POST">
                    <label>Comentario: </label>
                    <textarea placeholder="deje su comentario aca" name="contenido"></textarea><br>
                    <input type="hidden" name="usuarioId" th:value="${usuario.id}">
                    <input type="hidden" name="pedidoId" th:value="${pedido.id}">
                    <button type="submit">Enviar</button>
                </form>
            </div>

        </div>
    </div>
</body>

</html>