<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AyC Pedidos</title>
</head>

<body>

    <a href="/inicio">INICIO</a> <br>
    <a href="/pedidosABM">PEDIDOS ABM</a> <br>
    <a href="/usuariosABM">USUARIOS ABM</a> <br>
    <a href="/logout">SALIR</a>
    <hr>

    <h1>USUARIO INFO</h1>
    <hr>
    
    <div class="order-container">
        <div class="label">
            # Id:
            <span class="returned-value" th:text="${usuario.id}"></span>
        </div>
        <div class="label">
            Nombre:
            <span class="returned-value" th:text="${usuario.username}"></span>
        </div>
        <div class="label">
            Mail:
            <span class="returned-value" th:text="${usuario.mail}"></span>
        </div>
        <div class="label">
            Rol:
            <span class="returned-value" th:text="${usuario.rol}"></span>
        </div>
        <div class="label">
            Fecha Registro:
            <span class="returned-value" th:text="${usuario.fechaAlta}"></span>
        </div>
    </div>
    <h3>Pedidos Realizados</h3>
        <div th:each="pedido : ${pedidos}">
            <hr>
            <p><a th:href="@{/pedidoInfo/{pedidoId}(pedidoId=${pedido.id})}">Id: <span
                        th:text="${pedido.id}"></span></a><br></p>
            <p>Nombre Cliente: <span th:text="${pedido.nombreCliente}"></span><br></p>
            <p>Fecha: <span th:text="${pedido.fechaAlta}"></span><br></p>
            <form action="/hardDeletePedido" method="POST">
                <input type="hidden" name="pedidoId" th:value="${pedido.id}">
                <button type="submit">Eliminar</button>
            </form>
            <hr>
        </div>

</body>

</html>