<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments :: head_principal"></div>
</head>

<body>

    <div th:replace="fragments :: navbar_admin"></div>

    <h1>USUARIO INFO</h1>
    <hr>

    <div class="order-container">
        <div class="label">
            # Id:
            <span class="returned-value" th:text="${usuario.id}"></span>
        </div>
        <div class="label">
            Nombre:
            <span class="returned-value" th:text="${usuario.username}"></span>
        </div>
        <div class="label">
            Mail:
            <span class="returned-value" th:text="${usuario.mail}"></span>
        </div>
        <div class="label">
            Rol:
            <span class="returned-value" th:text="${usuario.rol}"></span>
        </div>
        <div class="label">
            Fecha Registro:
            <span class="returned-value" th:text="${usuario.fechaAlta}"></span>
        </div>
    </div>
    <h3>Pedidos Realizados</h3>
    <div th:each="pedido : ${pedidos}">
        <hr>
        <p><a th:href="@{/pedidoInfo/{pedidoId}(pedidoId=${pedido.id})}">Id: <span
                    th:text="${pedido.id}"></span></a><br></p>
        <p>Nombre Cliente: <span th:text="${pedido.nombreCliente}"></span><br></p>
        <p>Fecha: <span th:text="${pedido.fechaAlta}"></span><br></p>
        <form action="/hardDeletePedido" method="POST">
            <input type="hidden" name="pedidoId" th:value="${pedido.id}">
            <button type="submit">Eliminar</button>
        </form>
        <hr>
    </div>

    <div th:replace="fragments :: js_bundle_bootstrap"></div>
    
</body>

</html>