<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments :: main_head"></div>
</head>

<body>

    <!-- Navigation -->
    <div th:replace="fragments :: main_nav"></div>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <h4>Cargar - Pedido</h4>
            <hr>
            <div class="col">
                <h4>Registrar Pedido</h4>
                <form action="#" method="POST" class="mb-1">
                    <div class="mb-3">
                        <label for="nombreCliente">Cliente</label>
                        <input type="text" placeholder="ingrese el nombre del cliente" class="form-control" name="nombreCliente">
                    </div>
                    <div class="mb-3">
                        <label for="cantidadPedido">Cantidad</label>
                        <input type="number" placeholder="ingrese el numero de agendas de este pedido" class="form-control" name="cantidadPedido">
                    </div>
                    <div class="mb-3">
                        <label for="codigoInterior">Codigo Interior</label>
                        <input type="text" placeholder="ingrese el codigo de la agenda" class="form-control" name="codigoInterior">
                    </div>
                    <hr/>
                    <h6>TAPA</h6>
                    <div class="mb-3">
                        <label for="codigoFondo">Cod. Fondo</label>
                        <input type="text" class="form-control" name="codigoFondoTAPA">
                    </div>
                    <div class="mb-3">
                        <label for="codigoFondo">Cod. Frase</label>
                        <input type="text" class="form-control" name="codigoFraseTAPA">
                    </div>
                    <div class="mb-3">
                        <label for="codigoFondo">Frase personalizada</label>
                        <input type="text" class="form-control" name="fraseCustomTAPA">
                    </div>
                    <hr/>
                    <h6>CONTRATAPA</h6>
                    <div class="mb-3">
                        <label for="codigoFondo">Cod. Fondo</label>
                        <input type="text" class="form-control" name="codigoFondoCONTRATAPA">
                    </div>
                    <div class="mb-3">
                        <label for="codigoFondo">Cod. Frase</label>
                        <input type="text" class="form-control" name="codigoFraseCONTRATAPA">
                    </div>
                    <div class="mb-3">
                        <label for="codigoFondo">Frase personalizada</label>
                        <input type="text" class="form-control" name="fraseCustomCONTRATAPA">
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript -->
    <div th:replace="fragments :: bootstrap_scripts"></div>

</body>

</html>