<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments :: main_head"></div>
</head>

<body>

    <!-- Navigation -->
    <div th:replace="fragments :: index_nav"></div>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">INDEX</h1>
                <a href="/login" class="lead">LOGIN</a>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <div th:replace="fragments :: bootstrap_scripts"></div>

</body>

</html>