<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments :: main_head"></div>
</head>

<body>

    <!-- Navigation -->
    <div th:replace="fragments :: main_nav"></div>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <h4>INICIO</h4>
            <hr>
            <p>Estas adentro: <span th:text="${nombre} + ' - ' + ${rol}"></span></p>
        </div>
    </div>


    <!-- Bootstrap core JavaScript -->
    <div th:replace="fragments :: bootstrap_scripts"></div>

</body>

</html>