<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments :: main_head"></div>
</head>

<body>

    <!-- Navigation -->
    <div th:replace="fragments :: index_nav"></div>

    <!-- Page Content -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h3 class="mt-1">Registrar Usuario</h3>
                <form action="/registrar_usuario" method="POST" class="mb-1">
                    <div class="mb-3">
                        <label for="username">Usuario</label>
                        <input type="text" placeholder="ingrese el nombre de usuario" class="form-control" name="username">
                    </div>
                    <div class="mb-3">
                    <label for="mail">Email</label>
                        <input type="mail" placeholder="ingrese el email" class="form-control" name="mail">
                    </div>
                    <div class="mb-3">
                        <label for="password">Contraseña</label>
                        <input type="password" placeholder="ingrese la contraseña" class="form-control" name="password">
                        <input type="password" placeholder="repita la contraseña" class="form-control" name="repeated_password">
                    </div>
                    <div class="mb-3">
                        <select class="custom-select" name="rol">
                            <option selected>Rol</option>
                            <option th:each="rol : ${roles}" th:value="${rol}" th:text="${rol}"></option>
                        </select>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <div th:replace="fragments :: bootstrap_scripts"></div>

</body>

</html>