<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments :: head_principal"></div>
</head>

<body>

    <div th:replace="fragments :: navbar_index"></div>

    <!-- Register form section -->
    <section id="register-form">
        <div class="container">
            <h1>REGISTRO</h1>
            <hr>
            <form action="/registrarUsuario" method="post" th:object="${usuario}">
                <label for="username">Usuario</label>
                <input type="text" placeholder="ingrese el nombre de usuario" class="form-control" th:field="*{username}">
                <label for="mail">Mail</label>
                <input type="email" placeholder="ingrese el mail" class="form-control" th:field="*{mail}">
                <label for="password">Contraseña</label>
                <input type="password" placeholder="ingrese su contraseña" class="form-control" name="password">
                <input type="password" placeholder="repita la contraseña" class="form-control" name="repeated_password">
                <select class="custom-select" th:field="*{rol}">
                    <option th:each="rol : ${roles}" th:value="${rol}" th:text="${rol}"></option>
                </select>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </section>

    <div th:replace="fragments :: js_bundle_bootstrap"></div>

</body>

</html>